html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  overflow: hidden;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Breakpoints */
body {
  font-family: "montserrat", sans-serif;
  color: white;
  background-color: #181719;
}
body h1 {
  color: white;
}
body a {
  color: white;
}

#this-interior-supertitle {
  font-family: "Crimsonpro", serif;
  text-transform: uppercase;
  display: inline-block;
}

#this-interior-supertitle-container {
  border-top: 1px solid white;
}

#nav-flex-container #this-interior-supertitle-large-screen {
  font-size: 1rem;
}
#nav-flex-container #menu-icons-container {
  align-self: flex-end;
}
#nav-flex-container #menu-icons-container #menu-open-icon {
  font-size: 31px;
}
#nav-flex-container #menu-icons-container #menu-close-icon {
  font-size: 31px;
}
#nav-flex-container ul {
  text-align: center;
}
#nav-flex-container ul li {
  line-height: 3rem;
}
@media (min-width: 768px) {
  #nav-flex-container ul li {
    line-height: 4.5rem;
  }
}
#nav-flex-container ul li a {
  text-decoration: none;
  padding-bottom: 3%;
}
#nav-flex-container ul li a:hover {
  font-weight: 600;
  border-bottom: 2.3px solid white;
  transition: all 0.1s ease-in;
}
@media (min-width: 768px) {
  #nav-flex-container ul li a {
    font-size: 1.5rem;
  }
}
@media (min-width: 1280px) {
  #nav-flex-container ul li a {
    font-size: 1.2rem;
  }
}

#header-h1 {
  font-family: "Lora", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 1.8rem;
  padding-left: 4%;
}
@media (min-width: 768px) {
  #header-h1 {
    padding-left: 2%;
  }
}
@media (min-width: 1280px) {
  #header-h1 {
    font-size: 2.5rem;
    margin-bottom: 8%;
  }
}
@media (min-width: 1920px) {
  #header-h1 {
    font-size: 3rem;
  }
}

#header-p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.7rem;
  line-height: 115%;
}
@media (min-width: 768px) {
  #header-p {
    font-size: 1rem;
  }
}
@media (min-width: 1280px) {
  #header-p {
    font-size: 1.2rem;
  }
}
@media (min-width: 1920px) {
  #header-p {
    font-size: 1.5rem;
  }
}

#read-more-link {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-decoration: none;
}
@media (min-width: 768px) {
  #read-more-link {
    font-size: 1rem;
  }
}
@media (min-width: 1280px) {
  #read-more-link {
    font-size: 1rem;
  }
}
@media (min-width: 1920px) {
  #read-more-link {
    font-size: 1.2rem;
  }
}

#designer-name {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.83 rem;
}
@media (min-width: 1920px) {
  #designer-name {
    font-size: 1.2rem;
  }
}

#designer-job-description {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #828282;
  font-size: 0.7rem;
  padding-top: 4%;
}
@media (min-width: 1920px) {
  #designer-job-description {
    font-size: 1rem;
  }
}

#designer-description {
  font-family: "Lora", sans-serif;
  font-weight: 700;
  line-height: 140%;
  width: 80%;
}
@media (min-width: 1280px) {
  #designer-description {
    font-size: 1.3rem;
  }
}
@media (min-width: 1920px) {
  #designer-description {
    font-size: 1.6rem;
    margin-top: 3%;
  }
}

footer {
  color: #A9A9A9;
  width: 100%;
  text-align: center;
}
footer p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.6rem;
}
@media (min-width: 768px) {
  footer p {
    font-size: 1rem;
  }
}
footer a {
  font-family: inherit;
  font-weight: 700;
  color: #A9A9A9;
}

/* Breakpoints */
#header-p {
  width: 63%;
  margin-bottom: 4%;
  padding-left: 3%;
}
@media (min-width: 768px) {
  #header-p {
    padding-left: 2%;
    width: 40%;
  }
}
@media (min-width: 1280px) {
  #header-p {
    width: 65%;
    margin-bottom: 9%;
    margin-top: 10%;
  }
}
@media (min-width: 1530px) {
  #header-p {
    width: 60%;
  }
}
@media (min-width: 1920px) {
  #header-p {
    width: 50%;
  }
}

.this-interior-icon-container {
  display: flex;
  flex-direction: row;
}

#this-interior-supertitle {
  margin-top: 5%;
  margin-left: 4%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  white-space: nowrap;
  padding: 8px 8px 8px 8px;
  border: 1px solid white;
  font-size: 0.7rem;
  display: inline-block;
}
#this-interior-supertitle a {
  text-decoration: none;
}
@media (min-width: 768px) {
  #this-interior-supertitle {
    font-size: 1rem;
    padding: 10px 10px 10px 10px;
    margin-left: 2%;
    margin-bottom: 2%;
    margin-top: 3%;
  }
}
@media (min-width: 1280px) {
  #this-interior-supertitle {
    display: none;
  }
}

#read-more-flex-container {
  display: flex;
  width: 40%;
  justify-content: space-around;
  margin-bottom: 7%;
  position: relative;
}
#read-more-flex-container #read-more-underline::before {
  position: absolute;
  content: "";
  width: 10%;
  height: 25px;
  bottom: 0;
  top: 0;
  left: 5%;
  background-color: rgba(229, 255, 229, 0.3);
}
#read-more-flex-container #read-more-underline::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 25px;
  bottom: 0;
  left: 15%;
  top: 0;
  background-color: rgba(229, 255, 229, 0.3);
  transition: transform 0.25s ease-out;
  transform: scaleX(0);
  transform-origin: bottom right;
}
@media (min-width: 400px) {
  #read-more-flex-container #read-more-underline::before {
    left: 0.5%;
  }
  #read-more-flex-container #read-more-underline::after {
    left: 10%;
  }
}
@media (min-width: 480px) {
  #read-more-flex-container #read-more-underline::before {
    left: -15.7%;
    width: 16%;
  }
  #read-more-flex-container #read-more-underline::after {
    left: 0.5%;
    width: 115%;
  }
}
@media (min-width: 768px) {
  #read-more-flex-container #read-more-underline::before {
    left: 1%;
    width: 13%;
  }
  #read-more-flex-container #read-more-underline::after {
    left: 14%;
    width: 100%;
  }
}
@media (min-width: 1280px) {
  #read-more-flex-container #read-more-underline::before {
    left: -14%;
    width: 15%;
  }
  #read-more-flex-container #read-more-underline::after {
    left: 1%;
    width: 120%;
  }
}
@media (min-width: 1530px) {
  #read-more-flex-container #read-more-underline::before {
    left: -4%;
  }
  #read-more-flex-container #read-more-underline::after {
    left: 11%;
  }
}
@media (min-width: 1920px) {
  #read-more-flex-container #read-more-underline::before {
    left: -1%;
  }
  #read-more-flex-container #read-more-underline::after {
    left: 14%;
  }
}
#read-more-flex-container #read-more-underline:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
@media (min-width: 400px) {
  #read-more-flex-container {
    width: 25%;
    margin-left: 3%;
  }
  #read-more-flex-container #read-more-link {
    white-space: nowrap;
  }
}
@media (min-width: 480px) {
  #read-more-flex-container {
    width: 15%;
    margin-left: 5%;
    margin-bottom: 6%;
  }
}
@media (min-width: 768px) {
  #read-more-flex-container {
    width: 19%;
    margin-left: 1.5%;
  }
}
@media (min-width: 1280px) {
  #read-more-flex-container {
    width: 19%;
    margin-left: 4%;
  }
}
@media (min-width: 1920px) {
  #read-more-flex-container {
    margin-left: 2%;
  }
}
#read-more-flex-container p {
  align-self: center;
  font-size: 0.7rem;
}
#read-more-flex-container #read-more-arrow {
  align-self: flex-start;
}

.image-image-label-container {
  width: 100%;
  position: relative;
}
.image-image-label-container #room-image {
  display: block;
  width: 95%;
  height: 30%;
  margin: 0 auto;
}

@media (min-width: 1280px) {
  #main-content-flex-container {
    display: flex;
    margin-top: 10%;
    justify-content: space-around;
  }
  #main-content-flex-container header {
    align-self: center;
    margin-left: 5%;
  }
  #main-content-flex-container main {
    margin-right: 5%;
  }
}

.image-label-container {
  background-color: #181719;
  box-shadow: 0 2px 7px 1px black;
  width: 83%;
  margin-left: 12%;
  position: absolute;
  bottom: -38%;
  padding: 5% 3% 6% 6%;
}
@media (min-width: 400px) {
  .image-label-container {
    bottom: -33%;
  }
}
@media (min-width: 480px) {
  .image-label-container {
    bottom: -20%;
  }
}
@media (min-width: 768px) {
  .image-label-container {
    width: 60%;
    margin-left: 33%;
    bottom: -11%;
  }
}
@media (min-width: 1280px) {
  .image-label-container {
    width: 53%;
    margin-left: 40%;
    bottom: -20.5%;
    padding: 3% 3% 4% 4%;
  }
}
@media (min-width: 1530px) {
  .image-label-container {
    bottom: -13%;
  }
}
@media (min-width: 1920px) {
  .image-label-container {
    width: 53%;
    margin-left: 40%;
    bottom: -19%;
  }
}
.image-label-container #face-image {
  width: 40%;
  height: 100%;
  border-radius: 50%;
  margin-top: -4%;
}
@media (min-width: 1920px) {
  .image-label-container #face-image {
    width: 55%;
    height: 105%;
    margin-top: -8%;
  }
}

#headshot-title-container {
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
#headshot-title-container #face-title-container {
  margin-bottom: 5%;
}

#title-container {
  display: flex;
  flex-direction: column;
  width: 150%;
  margin-left: -19%;
}
@media (min-width: 1920px) {
  #title-container {
    margin-left: -8%;
  }
}

footer {
  position: absolute;
  position: absolute;
  bottom: 2%;
}

#menu-icons-container .open {
  display: inline-block;
}

.nav-open {
  display: flex !important;
  height: 100vh !important;
  opacity: 1 !important;
}

.nav-ul-open {
  opacity: 1 !important;
}

.nav-li-open {
  transform: translateY(0) !important;
}

.nav-item-active {
  font-weight: 600 !important;
  border-bottom: 2.3px solid white !important;
}

/* both icons */
.menu-icons {
  display: none;
  position: absolute;
  right: 5px;
  top: 16px;
  font-size: 30px;
}
.menu-icons:hover {
  cursor: pointer;
}
@media (min-width: 768px) {
  .menu-icons {
    font-size: 40px;
  }
}
@media (min-width: 1280px) {
  .menu-icons {
    display: none !important;
  }
}

#nav-flex-container {
  position: relative;
  justify-content: space-between;
  background-color: #181719;
  height: 0;
  z-index: 2;
  transition: height 0.5s ease-in-out;
  opacity: 1;
}
@media (min-width: 1280px) {
  #nav-flex-container {
    display: flex;
    height: 7rem;
  }
}
#nav-flex-container ul {
  position: absolute;
  transition: opacity 0.5s ease;
  opacity: 0;
  top: 25%;
  left: 26%;
  width: 50%;
  /* home */
  /* collection */
  /* about */
  /* about */
}
#nav-flex-container ul li {
  transition: all 0.5s linear;
}
#nav-flex-container ul li:nth-child(1) {
  transform: translateY(-200%);
}
#nav-flex-container ul li:nth-child(2) {
  transform: translateY(-300%);
}
#nav-flex-container ul li:nth-child(3) {
  transform: translateY(-400%);
}
#nav-flex-container ul li:nth-child(4) {
  transform: translateY(-500%);
}
@media (min-width: 1280px) {
  #nav-flex-container ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    opacity: 1;
    height: 0;
    margin-top: -1%;
    margin-left: 23%;
  }
}
@media (min-width: 1530px) {
  #nav-flex-container ul {
    margin-top: 1%;
  }
}

#this-interior-supertitle-large-screen {
  display: none;
}
#this-interior-supertitle-large-screen a {
  text-decoration: none;
}
#this-interior-supertitle-large-screen a:visited {
  color: white;
}
@media (min-width: 1280px) {
  #this-interior-supertitle-large-screen {
    margin-left: 6%;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    white-space: nowrap;
    padding: 8px 8px 8px 8px;
    border: 1px solid white;
    display: inline-block;
    align-self: center;
  }
}
@media (min-width: 1530px) {
  #this-interior-supertitle-large-screen {
    margin-top: 2.5%;
  }
}
@media (min-width: 1920px) {
  #this-interior-supertitle-large-screen {
    padding: 15px 15px 15px 15px;
    margin-left: 4.5%;
  }
}

/* Breakpoints *//*# sourceMappingURL=main.css.map */