.image-label-container {
    background-color: #181719;
    box-shadow: 0 2px 7px 1px black;
    width: 83%;
    margin-left: 12%;
    position: absolute;
    bottom: -38%;
    padding: 5% 3% 6% 6%;
    @include mobile-m {
        bottom: -33%;
    }
    @include mobile-l{
        bottom: -20%;
    }
    @include tablet{
        width: 60%;
        margin-left: 33%;
        bottom: -11%;
    }
    @include laptop{
        width: 53%;
        margin-left: 40%;
        bottom: -20.5%;
        padding: 3% 3% 4% 4%;
    }
    
    #face-image {
        width: 40%;
        height: 100%;
        border-radius: 50%;
        margin-top: -4%;
    }
}

#headshot-title-container {
    display: flex;
    width: fit-content;

    #face-title-container {
        margin-bottom: 5%;
    }
}

#title-container {
    display: flex;
    flex-direction: column;
    width: 150%;
    margin-left: -19%;
}

