@import "../variables/media-queries";


#header-p {
    width: 63%;
    margin-bottom: 4%;
    padding-left: 3%;
    @include tablet{
        padding-left: 2%;
        width:  40%;
    }
    @include laptop{
        width: 75%;
        margin-bottom: 7%;
    }
    @include desktop-md{
        width: 72%;
    }
    @include desktop-lg{
        width: 65%;
    }
}

.this-interior-icon-container {
    display: flex;
    flex-direction: row;
}

#this-interior-supertitle {
    margin-top: 5%;
    margin-left: 4%;
    width: fit-content;
    white-space: nowrap;
    padding: 8px 8px 8px 8px;
    border: 1px solid white;
    font-size: 0.7rem;
    display: inline-block;
        a {
        text-decoration: none;
        &:visited{
            color: white;
        }
    };


    @include tablet{
        font-size: 1rem;
        padding: 10px 10px 10px 10px;
        margin-left: 2%;
        margin-bottom: 2%;
        margin-top: 3%;
    }
    @include laptop{
        display: none;
    }
}

#main-content-flex-container{
    @include laptop{
        height: 80vh;
        display: flex;
        justify-content: space-around;
        align-items: center;

        header{
            align-self: center;
            padding-left: 4%;
        }
        
        main{
            padding-right: 4%;
            align-self: center;
        }
    }
}

#read-more-flex-container {
    display: flex;
    width: 40%;
    justify-content: space-around;
    margin-bottom: 7%;
    position: relative;

    #read-more-underline {

        &::before{
            position: absolute;
            content: '';
            width: 10%;
            height: 25px;
            bottom: 0;
            top: 0;
            left: 5%;
            background-color: rgba(229, 299, 229, 0.3);
        }

        &::after{
            position: absolute;
            content: '';
            width: 100%;
            height: 25px;
            bottom: 0;
            left: 15%;
            top: 0;
            background-color: rgba(229, 299, 229, 0.3);
            transition: transform .25s ease-out;
            transform: scaleX(0);
            transform-origin: bottom right;
        }

        // &:hover::after{
        //     transform: scaleX(1);
        //     transform-origin: bottom left;
        // }
        
        @include mobile-m{
            &::before{
                position: absolute;
                content: '';
                width: 10%;
                height: 25px;
                bottom: 0;
                top: 0;
                left: .5%;
                background-color: rgba(229, 299, 229, 0.3);
            }
    
            &::after{
                position: absolute;
                content: '';
                width: 100%;
                height: 25px;
                bottom: 0;
                left: 10%;
                top: 0;
                background-color: rgba(229, 299, 229, 0.3);
                transition: transform .25s ease-out;
                transform: scaleX(0);
                transform-origin: bottom right;
            }
        }

        @include mobile-l{

        }

        @include tablet{

        }

        @include laptop{

        }

        @include desktop-md{
            &::before{
                position: absolute;
                content: '';
                width: 10%;
                height: 30px;
                bottom: 0;
                left: 0;
                background-color: rgba(229, 299, 229, 0.3);
            }
    
            &::after{
                position: absolute;
                content: '';
                width: 100%;
                height: 30px;
                bottom: 0;
                left: 10%;
                background-color: rgba(229, 299, 229, 0.3);
                transition: transform .25s ease-out;
                transform: scaleX(0);
                transform-origin: bottom right;
            }
        }

        @include desktop-lg{

        }

        &:hover::after{
            transform: scaleX(1);
            transform-origin: bottom left;
        }
    }

    @include mobile-m {
        width: 25%;
        margin-left: 3%;
    }
    @include mobile-l{
        width: 15%;
        margin-left: 5%;
        margin-bottom: 6%;
    }
    @include tablet{
        width: 19%;
        margin-left: 1.5%;
    }
    @include laptop{
        width: 30%;
        margin-left: .5%;
    }
    @include desktop-md{
        width: 30%;
        margin-left: 2%;
    }
    @include desktop-lg{
        width: 28%;
        margin-left: 1%;
    }

    p {
        align-self: center;
        font-size: 0.7rem;
    }
    
    #read-more-arrow {
        align-self: flex-start;

        @include laptop{
            margin-top: 3%;
        }
    }
    
    @include mobile-m {
        #read-more-link {
        white-space: nowrap;
        }
    }
}

.animate__animated.animate__jello {
    --animate-duration: 1s;
  }

  .animate__animated.animate__slideInDown {
    --animate-duration: .7s;
  }


.image-image-label-container {
    width: 100%;
    position: relative;
    #room-image {
        display: block;
        width: 95%;
        height: 30%;
        margin: 0 auto;
        @include laptop{
            width: 120%;
            padding-right: 22%;
        }
        @include desktop-md{
            height: 40rem;
            width: 50rem;
            padding-right: 0;
            margin-right: 2rem;
        }
        @include desktop-lg{
            width: 60rem;
        }
    }
}


