@import "../variables/media-queries";

#header-p {
    width: 63%;
    margin-bottom: 4%;
    padding-left: 3%;
    @include tablet{
        padding-left: 2%;
        width:  40%;
    }
}

.this-interior-icon-container {
    display: flex;
    flex-direction: row;
}

#this-interior-supertitle {
    margin-top: 5%;
    margin-left: 4%;
    width: fit-content;
    white-space: nowrap;
    padding: 8px 8px 8px 8px;
    border: 1px solid white;
    font-size: 0.7rem;
    display: inline-block;
    @include tablet{
        font-size: 1rem;
        padding: 10px 10px 10px 10px;
        margin-left: 2%;
        margin-bottom: 2%;
        margin-top: 3%;
    }
}

#main-content-flex-container{
    @include laptop{
        height: 50vh;
        display: flex;
        justify-content: space-around;

        header{
            align-self: center;
            padding-left: 4%;
        }
        
        main{
            padding-right: 4%;
            align-self: center;
        }
    }
}

#read-more-flex-container {
    display: flex;
    width: 40%;
    justify-content: space-around;
    margin-bottom: 7%;
    @include mobile-m {
        width: 25%;
        margin-left: 3%;
    }
    @include mobile-l{
        width: 15%;
        margin-left: 5%;
        margin-bottom: 6%;
    }
    @include tablet{
        width: 19%;
        margin-left: 1.5%;
    }

    p {
        align-self: center;
        font-size: 0.7rem;
    }
    
    #read-more-arrow {
        align-self: flex-start;
    }

    @include mobile-m {
        #read-more-link {
        white-space: nowrap;
        }
    }
}

.image-image-label-container {
    width: 100%;
    position: relative;
    #room-image {
        display: block;
        width: 95%;
        height: 30%;
        margin: 0 auto;
    }
}


