
#menu-icons-container {
    .open {
    display: inline-block;
}
}

// .close {
//     display: none;
// }

/* both icons */
.material-icons {
    margin-right: 10px;
}

#menu-open-icon {
    display: none;
    &:hover {
        cursor: pointer;
    }
}

#menu-close-icon {
    display: none;
    &:hover {
        cursor: pointer;
    }
}

