@import '../variables/fonts';

body {
    font-family: "montserrat", sans-serif;
    color: white;
    background-color: #181719;

    h1 {
        color: white;
    }

    a {
        color: white;
    }

}

#this-interior-supertitle {
    font-family: "Crimsonpro", serif;
    text-transform: uppercase;
    display: inline-block;
}

#this-interior-supertitle-container {
    border-top: 1px solid white;
}

#nav-flex-container {
    #menu-icons-container {
        align-self: flex-end;

        #menu-open-icon {
            // color: red;
            font-size: 31px;
        }

        #menu-close-icon {
            // color: red;
            font-size: 31px;
        }
    }
}


#header-h1 {
    font-family: "Lora", sans-serif;
    font-weight: 500;
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 1.8rem;
    padding-left: 4%;
}

#header-p {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 0.7rem;
    line-height: 115%;
}

#read-more-link {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    text-decoration: none;
}

#designer-name {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

#designer-job-description {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

#designer-description {
    font-family: "Lora", sans-serif;
    font-weight: 700;
}

footer {
    color: #A9A9A9;
    p {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
    }
    
    a {
        font-family: inherit;
        font-weight: 700;
        color: #A9A9A9;
    }
}