@import '../variables/fonts';

body {
    font-family: "montserrat", sans-serif;
    color: purple;
}

#this-interior-supertitle {
    font-family: "Crimsonpro", serif;
    color: black;
}

#header-h1 {
    font-family: "Lora", sans-serif;
    font-weight: 500;
}

#header-p {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

#read-more-link {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    text-decoration: none;
}

#designer-name {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

#designer-job-description {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

#designer-description {
    font-family: "Lora", sans-serif;
    font-weight: 700;
}

footer {
    p {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
    }
    
    a {
        font-family: inherit;
        font-weight: 700;
    }
}