@import '../variables/fonts';

h1 {
    font-size: 2rem;
    color: coral;
    font-family: "Monetserrat", sans-serif;
}

#this-interior-supertitle {
    font-family: "Crimsonpro", serif;
    color: black;
}